@model ReportVM

@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering
@using System.Collections;

@{ 
    var data = (List<PieSeriesData>)@ViewData["pieData"];
    var chartOptions =
      new Highcharts {
          Chart = new Highsoft.Web.Mvc.Charts.Chart
          {
              PlotBackgroundColor = null,
              PlotBorderWidth = null,
              PlotShadow = new Shadow
              {
                  Enabled = false
              }
          },
          Title = new Title
          {
              Text = $"Your expenditures in {Model.Date.ToString("MMMM yyyy")}"
          },
          Tooltip = new Tooltip
          {
              PointFormat = "{series.name}: <b>{point.percentage:.1f}%</b>"
          },
          PlotOptions = new PlotOptions
          {
              Pie = new PlotOptionsPie
              {
                  AllowPointSelect = true,
                  Cursor = PlotOptionsPieCursor.Pointer,
                  ShowInLegend = true
              }
          },
          XAxis = new List<XAxis>
          {
              new XAxis
              {
                  Title = new XAxisTitle
                  {
                      Text = null
                  },
                  Categories = new List<string> { "Africa", "America", "Asia", "Europe", "Oceania" }
              }
          },
          YAxis = new List<YAxis>
          {
            new YAxis
            {
                Min = 0,
                Title = new YAxisTitle
                {
                    Text = "Population (millions)",
                    Align = YAxisTitleAlign.Center
                }
            }
          },
          Series = new List<Series>
              {
                new PieSeries
                {
                    Name = "Expenditure Share",
                    Data = data
                },

            }
      };

    chartOptions.ID = "chart";
    var renderer = new HighchartsRenderer(chartOptions);
}
<div>
    @Html.Raw(renderer.RenderHtml())
    <h2>Groupped By Category</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.AggregateByCategory)
            {
                <tr>
                    <td>@record.Category.Name</td>
                    <td>@record.Amount</td>
                </tr>
            }
        </tbody>
    </table>
    <h2>All Expenditures</h2>
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.AllRecords)
            {
                <tr>
                    <td>@record.Date.ToString("dd/MM/yyyy")</td>
                    <td>@record.Category.Name</td>
                    <td>@record.Amount</td>
                    <td>@(record.Description.Length > 20 ? record.Description.Substring(0, 20) : record.Description)</td>
                </tr>
            }
        </tbody>
    </table>
</div>